@{
    ViewBag.Title = "About";
}
<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 w3l_abtl">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h5>LYCEUM EDUCATION</h5>
                            <h3>Lorem Ipsum is simply dummy </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's  </p>
                        </div>
                        <div class="carousel-item">
                            <h5>LYCEUM EDUCATION</h5>
                            <h3>Lorem Ipsum is simply dummy </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
                        </div>
                        <div class="carousel-item">
                            <h5>LYCEUM EDUCATION</h5>
                            <h3>Lorem Ipsum is simply dummy </h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's  </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 w3l_abtr">
                <div class="w3-agileits-team-title">


                    <div id="horizontalTab">

                        <ul class=" resp-tabs-list">

                            <li>
                                <h3>ABOUT US</h3>
                            </li>
                            <li>
                                <h3>OUR MISSION</h3>
                            </li>

                        </ul>
                        <div class=" resp-tabs-container">
                            <div class="tab1">
                                <h4 class="w3_chg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</h4>
                                <p class="dng">when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>

                            <div class="tab2">
                                <h4 class="w3_chg">L is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</h4>
                                <p class="dng">when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="banner-bottom-girds">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4  its-banner-grid gird-ser-clr2">
                    <div class="white-shadow">
                        <div class="white-left">
                            <i class="far fa-arrow-alt-circle-down"></i>
                        </div>
                        <div class="white-right">
                            <h4>Library</h4>
                            <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4  its-banner-grid gird-ser-clr">
                    <div class="white-shadow">
                        <div class="white-left">
                            <i class="fab fa-android"></i>
                        </div>
                        <div class="white-right">
                            <h4>Hall</h4>
                            <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4  its-banner-grid gird-ser-clr2">
                    <div class="white-shadow">
                        <div class=" white-left">
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                        <div class=" white-right">
                            <h4>Gym</h4>
                            <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</section>