@{
    ViewBag.Title = "Contact";
}
<div class="w3ls-section contact" id="contact">
    <div class="container">
        <div class="w3-heading-all contact-head">

            <span class="w3-heading-icon">
            </span>
        </div>
        <div class="contact-form">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 contact-left">
                    <div class="address">
                        <h5>Address :</h5>
                        <p><i class="fas fa-map-marker-alt"></i>Ahmedabad</p>
                    </div>
                    <div class="address address-mdl">
                        <h5>phone :</h5>
                        <p><i class="fas fa-phone"></i>+91 94290 94233</p>
                        <p><i class="fas fa-phone"></i>+91 70160 12600</p>

                    </div>
                    <div class="address">
                        <h5>Email :</h5>
                        <p><i class="fas fa-envelope"></i> <a href="mailto:info@example.com">nishit@gmail.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 contact-right">
                    <h5>Contact Us  :</h5>
                    <form action="#" class="form_w3layouts" method="post">
                        <input type="text" placeholder="First Name" required="">
                        <input type="text" placeholder="last Name" required="">
                        <input class="email" type="email" placeholder="Email" required="">
                        <input type="text" placeholder="Phone Number" required="">
                        <textarea placeholder="Message" required=""></textarea>
                        <input type="submit" value="SUBMIT">

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>