<html>
<head>
    <title>Lyceum an Educational Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Lyceum a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEri~/Content/on, Motorola web design" />
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/smoothbox.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/smart-forms.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/black.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Plugin/toastr/toastr.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Header -->
    <section class="header">
        <div class="banner">
            <div class="w3_banner">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="/Home/Index">
                            <div class="logo">
                                <img src="/Content/images/logo/logo.png" style="max-height: 100px;">
                            </div>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/Home/Index">Home </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/About">ABOUT</a>
                                </li>
                                @*<li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link scroll" href="#services">SERVICES</a>
                                        <a class="nav-link scroll" href="#team">TEAM</a>
                                        <a class="nav-link scroll" href="#gallery">GALLERY</a>
                                    </div>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link scroll" href="#testimonials">TESTIMONIALS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link scroll" href="#cources">Find Cources</a>
                                </li>*@
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Contact">CONTACT</a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" required="" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </nav>
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
   
    <section class="footer">
        <div class="map">

            <ul class="faq">
                <li class="item1">
                    <a href="#"> Click Here For Route Map</a>
                    <ul>
                        <li class="subitem1">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2454.752467015383!2d1.2080883158463378!3d52.02960697972425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d99e32cabbc2ab%3A0x5cbc552eb112991a!2sUK+Mail+Ipswich!5e0!3m2!1sen!2sin!4v1491473885711"></iframe>
                        </li>
                    </ul>
                </li>
            </ul>


        </div>
        <!-- //map -->
        <!-- contact -->
        

        <!-- //contact -->

        <div class="footer-w3layouts">
            <div class="w3_agileits_social_media">
                <ul>

                    <li><a href="#" class="wthree_facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="wthree_twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="wthree_dribbble"><i class="fab fa-dribbble"></i></a></li>
                    <li><a href="#" class="wthree_rss"><i class="fas fa-rss"></i></a></li>
                </ul>
            </div>

            <div class="container">
                <div class="agile-copy">
                    <p>© 2018 Lyceum. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>


    <script src="~/Content/js/jquery-2.2.3.min.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/move-top.js"></script>
    <script src="~/Content/js/easing.js"></script>
    <script src="~/Content/js/SmoothScroll.min.js"></script>
    <script src="~/Content/js/smoothbox.min.js"></script>

    <!-- flexSlider -->
    <script defer src="~/Content/js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider -->
    <!-- tabs -->

    <script src="~/Content/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!--//tabs-->

    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 1,
                animationSpeed: 1000,
                autoPlay: false,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="~/Content/js/jquery.flexisel.js"></script>

    <!-- for-Map -->
    <script type="text/javascript">
        $(function () {

            var menu_ul = $('.faq > li > ul'),
                menu_a = $('.faq > li > a');

            menu_ul.hide();

            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

        });
    </script>
    <!-- //for-Map -->
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- scrolling script -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- //scrolling script -->
    <!--//start-smoth-scrolling -->


</body>
</html>